@page "/"

<PageTitle>Curriculo</PageTitle>

<h1>Meu Curriculo</h1>

<p>
    Olá, meu nome é <strong>Rafaella Cavalcante</strong>. Sou estudante de Sistemas de Informação no Inteli e atualmente sou estagiária no BCG, atuando na área de consultoria estratégica. Tenho interesse em tecnologia, inovação e resolução de problemas complexos.
</p>

<table border="1" style="border-collapse: collapse; width: 100%; text-align: left;">
    <thead>
        <tr>
            <th>Experiência</th>
            <th>Habilidade Desenvolvida</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Estagiária em Consultoria Estratégica - BCG (Março 2025 - Presente)</td>
            <td>Responsável por realizar análise de dados, pesquisa de mercado e suporte estratégico para projetos de consultoria.</td>
        </tr>
        <tr>
            <td>Estagiária de Férias em Digital - Grupo Fleury (Julho 2023)</td>
            <td>Responsável por coletar e analisar métricas para a implementação do IBM Watson Assistant na área Digital do Bot do WhatsApp.</td>
        </tr>
    </tbody>
</table>
<div style="margin-top: 20px; margin-bottom: 20px;">
    <h3>Venha me conhecer!</h3>
    <p>
        Estou sempre aberta a novas oportunidades e desafios. Se você está interessado em discutir sobre tecnologia, inovação ou qualquer outro assunto, sinta-se à vontade para entrar em contato comigo.
    </p>
</div>

<p> <a href="https://www.linkedin.com/in/rafaella-bianca-cavalcante/" target="_blank">Meu linkedin</a> |
<a href="https://github.com/RafaellaCavalcante" target="_blank"> Meu Github </a> </p>

<p><em>Visualize meu curriculo <a href="https://docs.google.com/document/d/1xNWkMWs_O9f3UEWuR7W8K3rHWOkd_qgfdKFoNGPOfD4/edit?usp=sharing" target="_blank">aqui!</a></em></p>
